@charset "UTF-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	background-color: #F4F4F4;
}
body,td,th {
	font-family:  Helvetica, Arial, sans-serif;
}
.mainheader {
	font-size: 17pt;
	color: #FFF;
	font-weight:bold;
}
.mainheaderlight {
	font-size: 17pt;
	color: #FFF;
	font-weight: 100;
}
.button {
	background-color: #FFF;
  
   height:26px;
   padding-top: 10px;
   padding-left:13px;
   padding-right:13px;
   display: inline-block;
   text-align: center;
   color:#FFF;
   
}
.button:hover {
  background-color:#002418;
   
  text-decoration: none;
  color: #fff;
}

.button {
	font-family: Helvetica, Arial, sans-serif; font-size:12px;
	color: #002418;
}
.button:link {
	text-decoration: none;
	
	text-transform: uppercase;
	font-size: 10pt;
}
.footertext {
	font-size: 12px;
	color: #FFF;
}
body,td,th {
	color: #002418;
	font-size: 10pt;
}
.titleheader {
	font-size: 16px;
	text-transform: uppercase;
	font-weight:bold
}
.main-div {
	width: 1000px;
	background-image: url(images/header.jpg);
	background-repeat: no-repeat;
	height:33px;
	padding-top: 140px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	float: none;
	clear: left;
	margin-right: 200px;
	margin-left: 200px;
}
#main-div-footer {
	position:absolute;
	width:100%;
	height:115px;
	z-index:1;
	background-image: none;
	background-repeat: no-repeat;
	background-color:#015738;
	height:33px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 227px;
	margin: 0px;
	position: relative;
	top: auto;
}
.main-menu {
	padding-left: 17px;
	width: 1000px;
	margin-left: 200px;
}

.main-content {
	background-image: url(images/bg2.jpg);
	height: auto;
	width: 1000px;
	background-repeat: no-repeat;
	padding: 30px;
	background-position: 200px 0px;
}
.main-content-1 {
	padding-bottom: 15px;
	width: 1000px;
	margin-left: 200px;
}
.main-content-2 {
	background-color: #FFF;
	padding: 15px;
	margin-left: 200px;
	width: 950px;
}
